.User-Profile-container {
    background-color: white;
    border-radius: 5%;
    color: #000;
    max-width: 80%;
    font-family: "Times New Roman", Times, serif;
}

.App-logo {
    width: 100%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
